   
        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            
            background: rgb(226, 124, 41);
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border-radius: 8px;
            border:#ff9c09 solid 3px;
            border-radius: 5px;
        }
        .title-nos {
            text-align: center;
            margin-bottom: 20px;
        }
   
        .return {
            margin-top: 30px;
        }

        .nos-img{
            max-width:100%;
        }