$background: radial-gradient(circle, 
        #ff9c09 0%,        
        #e47506 50%,       
        #9e4f00 100%       
      );


.card {

    min-width: 400px;
    max-width: 500px;
    height: 500px;
    background-color: $background;
    border:#ff9c09 solid 3px;
    border-radius: 5px;
    overflow: hidden;
    transition: transform .2s; 

    &:hover,
    &:focus {

        transform: scale(1.03) skew(0deg) rotate(1deg);
        transform-origin: bottom;
        box-shadow: 0px 7px 8px 0px rgba(0 ,0 ,0 ,0.5);
    }

}

.card__features {
    min-width: 400px;
    max-width: 500px;
    margin-bottom: 41px;
   
}

.title-descrip {
    position:relative;
    top: -30px;
}



.boton-card {  
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #881010;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        //   background: #e22d00;
          font-size: 16px;
          background:#550808;
          
        }
}

.boton-music {
    background-color: #fd6500;
    margin-bottom: 21px;
    margin-right:10px;
    margin-top:10px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #ce773d ;
        
    }
}